spring:
  profiles:
    active: local

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: create
    defer-datasource-initialization: true
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 100

  data:
    web:
      pageable:
        one-indexed-parameters: true

  datasource:
    url: jdbc:h2:tcp://localhost/~/apartribe;MODE=MySQL
    username: sa
    password:
    driver-class-name: org.h2.Driver

  sql:
    init:
      mode: always

  mail:
    host: smtp.gmail.com
    port: 587
    username: EMAIL
    password: PASSWORD
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          ssl:
            trust: "*"

  security:
    oauth2:
      client:
        registration:
          kakao:
            client-name: KOAuth2LoginDemo
            client-id: KAKAO_CLINET_ID
            client-secret: KAKAO_CLINET_SECRET
            client-authentication-method: client_secret_post
            redirect-uri: http://localhost:8080/login/oauth2/code/kakao
            authorization-grant-type: authorization_code
            scope: profile_nickname, profile_image, account_email, age_range, birthyear

        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v1/oidc/userinfo
            user-name-attribute: sub

  batch:
    jdbc:
      initialize-schema: always
    job:
      enabled: false

application:
  security:
    jwt:
      secret-key: ACCESS_TOKEN_SECRET_KEY
      expiration: ACCESS_TOKEN_EXPIRATION
      refresh-token:
        secret-key: REFRESH_TOKEN_SECRET_KEY
        expiration: REFRESH_TOKEN_EXPIRATION
  mail:
    subject: MAIL_SUBJECT

logging:
  level:
    sql: debug

cloud:
  aws:
    s3:
      bucket: AWS_BUCKET_NAME
    credentials:
      access-key: AWS_ACCESS_KEY
      secret-key: AWS_SECRET_KEY
    region:
      static: ap-northeast-2
      auto: false
    stack:
      auto: false

server:
  error:
    whitelabel:
      enabled: false
    include-exception: false
    include-message: never
    include-stacktrace: never
    include-binding-errors: never